body { background-color: #dfd9d9; 
    background-image: url(background.gif);
    color: #221811;
    font-family: Verdana, Arial, sans-serif;
    background-image: url(background.gif);
}
#wrapper { background-color: #b9784d;
  
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  min-width: 900px;
  max-width: 1280px;
  box-shadow: 1px 1px 5px 5px  #666666; 
}
header { background-color: #c4a9e7;
     height: auto;
     text-align: center;
     background-repeat: no-repeat;

}

h1 { 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  font-style: italic; 
  font-size: 3em; 
}
h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  font-weight: bold;
}
h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;

}

p{
  font-family: 'Times New Roman', Times, serif;
  text-indent: 5%;
}
li{
  font-family: 'Times New Roman', Times, serif;
}

main { padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    display: block; 
}


.details { padding-left: 20%;
        padding-right: 20%;
}
.center { display: block;
  margin-left: auto;
       margin-right: auto;
  width: 50%
}